<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<gazebo reference="base_link">
		<mu1>0.5</mu1>
		<mu2>0.3</mu2>
		<material>Gazebo/Orange</material>
	</gazebo>

	<gazebo reference="Right_wheel">
		<mu1>0.5</mu1>
		<mu2>0.3</mu2>
		<material>Gazebo/Gray</material>
	</gazebo>

	<gazebo reference="Left_wheel">
		<mu1>0.5</mu1>
		<mu2>0.3</mu2>
		<material>Gazebo/Gray</material>
	</gazebo>

	<gazebo reference="FR_Caster">
		<mu1>0.00001</mu1>
		<mu2>0.00001</mu2>
		<material>Gazebo/White</material>
	</gazebo>

	<gazebo reference="FL_Caster">
		<mu1>0.00001</mu1>
		<mu2>0.00001</mu2>
		<material>Gazebo/White</material>
	</gazebo>

	<gazebo reference="RR_Caster">
		<mu1>0.00001</mu1>
		<mu2>0.00001</mu2>
		<material>Gazebo/White</material>
	</gazebo>

	<gazebo reference="RL_Caster">
		<mu1>0.00001</mu1>
		<mu2>0.00001</mu2>
		<material>Gazebo/White</material>
	</gazebo>



<!-- Controller for the differential drive robot --> 
	<gazebo>
		<plugin name='diff_drive' filename='libgazebo_ros_diff_drive.so'>
	    		<ros>
	        		<namespace> </namespace>
	    		</ros>

	    		<!-- Number of wheel pairs -->   
				<num_wheel_pairs>1</num_wheel_pairs>

	    		<!-- wheels0-->
	    		<left_joint>LWheel_joint</left_joint>
	    		<right_joint>RWheel_joint</right_joint>
	
	    		<!-- Kinematics -->
	    		<wheel_separation>${wheel_separate}</wheel_separation>
	    		<wheel_diameter>${wheel_dia}</wheel_diameter>

	    		<!-- limits -->
	    		<max_wheel_torque>5000</max_wheel_torque>
	    		<max_wheel_acceleration>10</max_wheel_acceleration>

	    		<!-- output -->
	    		<publish_odom>true</publish_odom>
	    		<publish_odom_tf>true</publish_odom_tf>
	    		<publish_wheel_tf>true</publish_wheel_tf>
	
	    		<odometry_frame>odom</odometry_frame>
	    		<robot_base_frame>dummy_link</robot_base_frame>



    		</plugin>
	</gazebo> 

</robot>
